<div class="posts">
    <div class="post" *ngFor="let post of posts;trackBy:identify">
        <div class="img">
            <img [src]="post.img">
        </div>
        <div class="user-interaction">
            <div class="user">
                <img [src]="post.user ? post.user.img : '' " class="user-img">
                <span class="name">{{ post.user ? post.user.name : '' }}</span>
            </div>
            <div class="interactions">
                <div class="like" [ngClass]="{'liked': post.isLiked}">
                    <fa-icon size="lg" [icon]="faLike" (click)="toggleLikeClick(post)"></fa-icon>
                    <span class="number">{{ post.numberOfLikes }}</span>
                </div>
                <div class="comment">
                    <fa-icon size="lg" [icon]="faCommentDots"></fa-icon>
                    <span class="number">{{ post.commentsNumber }}</span>
                </div>
            </div>
        </div>
    </div>
</div>